:root {
  --bg-color: rgb(221, 220, 219);
  --fg-color: rgb(255, 255, 251);
  --font-color: rgb(8, 7, 9);
  --inactive-font-color: rgba(8, 7, 9, 0);
  --inactive-font-color-hover: rgb(8, 7, 9, 0.09);
  --inactive-font-color-active: rgb(8, 7, 9, 0.16);
  --accent-color: var(--fg-color);
  --accent-color-hover: rgb(237, 236, 205);
  --accent-color-active: rgb(249, 255, 196);
  --accent-font: rgb(192, 196, 9);
  --accent-font-hover: rgb(216, 219, 12);
  --accent-font-active: rgb(166, 168, 9);
  --inactive-accent-color: rgb(254, 255, 173);
  --inactive-accent-color-hover: rgb(254, 255, 173);
  --inactive-accent-color-active: rgb(247, 255, 173);
  --input-bg-color: var(--fg-color);
  --input-font-color: rgb(13, 13, 14);
  --shadow-color: rgb(161, 161, 161);
}
