:root {
  --bg-color: rgb(221, 220, 219);
  --fg-color: rgb(255, 255, 251);
  --font-color: rgb(8, 7, 9);
  --selected-font-color: rgb(8, 7, 9);
  --inactive-font-color: rgba(8, 7, 9, 0);
  --inactive-font-color-hover: rgb(8, 7, 9, 0.09);
  --inactive-font-color-active: rgb(8, 7, 9, 0.16);
  --accent-color: rgb(220, 253, 255);
  --accent-color-hover: rgb(190, 223, 224);
  --accent-color-active: rgb(179, 251, 255);
  --accent-font: rgb(58, 209, 189);
  --accent-font-hover: rgb(53, 189, 171);
  --accent-font-active: rgb(63, 224, 203);
  --inactive-accent-color: rgb(220, 253, 255);
  --inactive-accent-color-hover: rgb(190, 223, 224);
  --inactive-accent-color-active: rgb(179, 251, 255);
  --input-bg-color: var(--fg-color);
  --input-font-color: rgb(13, 13, 14);
  --shadow-color: rgb(161, 161, 161);
}
